#addNew {
  margin: 20px;
  margin-top: 10px;
}
#addNew:hover {
  background-color: rgb(255, 174, 0);
}
.form-group {
  margin-left: 10px;
  margin-top: 10px;
}
form > button {
  align-items: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
