<button class="btn btn-warning " id="addNew" (click)="onclick(addModal)">
    Add New
</button>

<ng-template #addModal let-modal>   
  <div class="modal-content">      
    <div class="modal-header">
      <h4 class="modal-title align-center">Add New Guest</h4>
    </div>
    <div class="modal-body">        
      <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text"  formControlName="name" class="form-control" />
              <span
                *ngIf="!(addForm.get('name').valid && addForm.get('name').touched)"
                class="help-block">  
              </span>
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text"  formControlName="address" class="form-control" />
            </div>
            <div class="form-group">
              <label>Mobile no.</label>
              <input type="number"  formControlName="mobile" class="form-control" />
              <span
                *ngIf="!(addForm.get('mobile').valid && addForm.get('mobile').touched)"
                class="help-block">  
              </span>
            </div>
          </div>  
        </div>
        <button type="submit" id="addNew" class="btn btn-warning" [disabled]="!(addForm.get('name').valid && addForm.get('mobile').valid )">Add</button>
      </form> 
    </div>      
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="onclose()">Close</button>
    </div>
  </div>
</ng-template>
  
  