<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bar">
  <div class="input-group">
    <div class="form-outline">
     
        <input list="form1s" type="search" style="display: inline;"  placeholder="Search Guest" id="form1" class="form-control" [(ngModel)]="searchText"
          (click)="onClick()" #s />
        <button class="btn btn-warning btn-sm"(click)="onclick(addModal)">Add new Guest</button>
      
    </div>
  </div>
  <div class="card " style="margin-left: 20px; margin-top: 0px;" id="scroll" [hidden]="!(searchText.length > 0)" *ngIf="!itemSelected">
    <table class="table">
      <tbody>
        <tr *ngFor="let guest of guests | userFilter:searchText;" id="bor">
          <td id="guest_id" style="cursor: pointer; background-color: rgb(255, 135, 113);" (click)="onclick(addModal)" *ngIf="guest.name == 'Match Not Found'">{{guest.name}}</td>
          <td id="guest_id" style="cursor: pointer;" (click)="onSelect(guest)" *ngIf="(guest.name != 'Match Not Found' && isLang==='english')">{{guest.name}}</td>
          <td id="guest_id" style="cursor: pointer;" (click)="onSelect(guest)" *ngIf="(guest.name != 'Match Not Found')">{{guest.hindiName}}</td>
          <td>
            <div>
              <div *ngIf="guest.name != 'Match Not Found'" >
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="guest.isPaid">check_circle</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!guest.isPaid">dangerous</mat-icon>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #addModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title align-center">Add New Guest</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text"  formControlName="name" class="form-control" />
              <span
                *ngIf="!(addForm.get('name').valid && addForm.get('name').touched)"
                class="help-block">
              </span>
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text"  formControlName="address" class="form-control" />
            </div>
            <div class="form-group">
              <label>Mobile no.</label>
              <input type="number"  formControlName="mobile" class="form-control" />
              <span
                *ngIf="!(addForm.get('mobile').valid && addForm.get('mobile').touched)"
                class="help-block">
              </span>
            </div>
            <div class="form-group">
              <label>Hindi Name</label>
              <input type="text"  formControlName="hindiName" class="form-control" />
            </div>
          </div>
        </div>
        <button type="submit" id="addNew" class="btn btn-warning" [disabled]="!(addForm.get('name').valid && addForm.get('mobile').valid)" (click)="added(addedModal)">Add</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #addedModal let-modal>
  <div class="modal-content" >
    <div class="modal-header">
      <h4 class="modal-title align-center">Added New Guest</h4>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onclose()">X</button>
  </div>
  </div>
</ng-template>
