.input-group {
  margin: 20px;
  margin-bottom: 3px;
}
.bar {
  margin-top: 40px;
}
#form1 {
  width: 400px;
  margin-right: 10px;
}
#scroll {
  height: 250px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border: none;
}
#guest_id:hover {
  background-color: rgb(192, 220, 247);
}
#bor {
  border: 1px solid rgb(224, 223, 223);
}
#addNew {
  margin: 20px;
  margin-top: 10px;
}
#addNew:hover {
  background-color: rgb(255, 174, 0);
}
.form-group {
  margin-left: 10px;
  margin-top: 10px;
}
#form1:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form > button {
  align-items: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
