<div class="container">
	<div class="row">
		<div class="card col-md-5" style="margin-left: 50px;">
			<table class="table">
				<thead class="thead bg-success">
				<tr>
					<th scope="col">S no.</th>
					<th scope="col">Name</th>
					<th scope="col">Amount</th>
					<!-- <th scope="col">Address</th> -->
					<!-- <th scope="col">MobileNumber</th> -->
					<!-- <th scope="col">Gift</th> -->
					<th scope="col">Action</th>

				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let user of Users; let i = index;">
					<th scope="row">{{i+1}}</th>
					<td>{{user.FirstName +" "+ user.LastName}}</td>
					<td>{{user.amount}}</td>
					<!-- <th scope="col">{{user.address}}</th> -->
					<!-- <th scope="col">{{user.MobileNumber}}</th> -->
					<!-- <th scope="col">{{user.gift}}</th> -->
					<td>
						<div>
							<button type="button" (click)="onDelete(user._id)" class="btn btn-outline-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 15 15">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
								</svg>
							</button>
							<button style="margin-left: 10px;" type="button" class="btn btn-primary"
									(click)="onEdit(user._id,
													user.FirstName,
													user.LastName,
													user.amount,
													user.address,
													user.MobileNumber,
													user.gift,
													mymodal)">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 18 18">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
								<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
								</svg>
							</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<ng-template #mymodal let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Edit</h4>
			<button type="button" class="close btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">X</span>
			</button>
		</div>
		<div class="modal-body">
			<form [formGroup]="UpdateForm" (ngSubmit)="onUpdate()">
				<div formGroupName="userUpdateData">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>FirstName</label>
								<input type="text"
									formControlName="updatedFirstName"
									[(ngModel)] = "editFirstName"
									class="form-control" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>LastName</label>
								<input type="text"
									formControlName="updatedLastName"
									[(ngModel)] = "editLastName"
									class="form-control" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Amount</label>
								<input type="text"
									formControlName="updatedAmount"
									[(ngModel)] = "editAmount"
									class="form-control" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Address</label>
								<input type="text"
									formControlName="updatedAddress"
									[(ngModel)] = "editAddress"
									class="form-control" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Mobile No.</label>
								<input type="text"
									formControlName="updatedMobileNumber"
									[(ngModel)] = "editMobileNumber"
									class="form-control" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Gift</label>
								<input type="text"
									formControlName="updatedGift"
									[(ngModel)] = "editGift"
									class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div>
					<button type="submit" style="margin-top: 20px; margin-left: 200px;" class="btn btn-success">Save</button>
				</div>
			</form>
		</div>
	</ng-template>
</div>
